.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: lightblue;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: auto;
  padding: 70px 30px;
  background: lightblue;
  color: floralwhite; 
  text-align: center;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-inverse {
  background-color: gray; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }


/*Assignment 4 - Task 4 */
.modal-header {
    background-color: gray;
    color:floralwhite;
}

.modal-footer {
  background-color: gainsboro; 
}

.modal-body {
    background-color: lightblue; 
}

.close {
    color:floralwhite;
}

/*End Assignment 4 - Task 4 */

.container-fluid {
    height: 600px;
    padding-top: 5px;
}

.flex-container {
  height: 600px;
  padding: 0;
  margin: auto;
  list-style: none;
  width: 1000px;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: lightgray;
  padding: 5px;
  width: 195px;
  height: 585px;
  margin-top: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-item2 {
    background: gray;
  padding: 5px;
  width: 600px;
  height: 585px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.input-group {
   margin-top: 30px
}

.flex-item11 {
  background: lightgray;
  padding: 5px;
  width: 275px;
  height: 585px;
  margin-top: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-item21 {
background: gray;
  padding: 5px;
  width: 700px;
  height: 585px;
  margin-top: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.button-container {
      text-align: center;
}

.container8 {
    padding-top: 10px;
    text-align: left;
}

